//Variable//
$columns: 12 ;
$gutter: -15px ;
$medium: 640px ;
$large: 1024px ;


@mixin clearfix {
  .clearfix::before{
    content: '';
    display: table;
  }

  .clearfix::after{
    content: '';
    display: table;
    clear: both;
  }
}
@mixin boxs{
  *{
  box-sizing: border-box;
  }
}

@mixin flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

@mixin container{
    width: 100%;
    margin: auto;

}

@mixin fonts{
  body{margin:0; padding: 0; font-family: sans-serif;}
}
