//Variable//
$columns: 12 ;
$gutter: -15px ;
$medium: 640px ;
$large: 1024px ;


@mixin clearfix {
  .clearfix::before{
    content: '';
    display: table;
  }

  .clearfix::after{
    content: '';
    display: table;
    clear: both;
  }
}
@mixin boxs{
  *{
  box-sizing: border-box;
  }
}

@mixin flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

@mixin container{
    width: 100%;
    margin: auto;

}

@mixin fonts{
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  body{
    font-family: "Roboto", sans-serif;
    margin:0;
    font-size:16px;

  }
}

@mixin navbar{

  .header {
    background: #637484;
    padding: 0px 16px;
  }
  .header:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }


  .header .logo {
    float: left;
    line-height: 1.9;
    padding: 10px 0px;
  }
  .header .logo a {
    color: #FFF;
    font-size: 1.2rem;
    text-decoration: none;
  }

  #burger {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 0px;
  }
  #burger .bar {
    background: #EEE;
    display: block;
    height: 3px;
    margin-bottom: 4px;
    width: 20px;
  }

  .nav {
    float: right;
    margin: 0;
    padding: 0;
  }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  .nav ul:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
  .nav li {
    float: left;
    display: inline-block;
    padding: 10px 0px;
  }
  .nav a {
    color: #FFF;
    display: inline-block;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
  }
  .nav li:hover {
    background: #b3c2d1;
    border-radius:5px;
  }

  .open {
    display: block !important;
  }
  .active{
    background-color:#009CDF;
    border-radius:5px;
  }


  .logo{
    float:left;
  }

  li{
    display:inline-block;
  }

  ul{
    float:right;
    margin:0;
  }
  .container2{
    float:right;
    background-color:#637484;
    width:100%;
  }

  .icon{
    display:none;
  }


  /* MEDIA QUERIES */
  @media screen and (max-width: $medium) {
    .header {
      padding: 0;
    }
    .header .logo {
      float: none;
      text-align: center;
    }

    #burger {
      display: block;
    }

    .nav {
      float: left;
      display: none;
    }
    .nav li {
      display: block;
      width: 100%;
      /*border-bottom: 1px solid #000;*/
      //text-align:center;
      /*background-color:#313942;*/
    }
  }
}



