@import "var";

@include boxs;

.row{
  margin:0 $gutter * -0.5;
  @include clearfix;

}
%col{
float:left;
position:relative;
min-height:1px;
padding:0 $gutter * 0.5;

border:1px solid black ;

}

@include fonts;

//Grid //

@for $i from 1 through $columns{
    .col-s-#{$i}{
    width:$i / $columns * 100%;}
    .col-s-#{$i}, .col-m-#{$i} , .col-l-#{$i}{@extend %col;}
}
//Medium Screen //

@media only screen and (min-width : $medium){
  .col-m-center{margin:0 auto ; float:none ;}
  @for $i from 1 through $columns{
  .col-m-#{$i}{ 
    width:$i / $columns * 100%;}

}
}

//Large Screen //
@media only screen and (min-width : $large){
  .col-l-center{margin:0 auto ; float:none ;}
  @for $i from 1 through $columns{
  .col-l-#{$i}{ 
     width:$i / $columns * 100%;}
}
}

