@import "var";

@include boxs;


.row{
  @include clearfix;
  @include flex; // ajout du Flex
  overflow: hidden; // retire le padding sur les bords de la grille

}

@include sidebar;

%col{
float:left;
position:relative;
min-height:1px;
padding:0 $gutter * 0.5;

//border:1px solid black ;

}
// Toutes les divs qui ont la classe contient 'col-'
div [class *= "col-"] {
  padding: 0 15px;
}

@include fonts;

@include footer;

.container{
  @include container;
}



// CSS POUR USER MANAGER
@include userManager;


// login .php
@include login;

// sign In

@include signin;



@include container-fluid;


.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title{
  border-bottom: 1px solid $button_color;
  //width: 200px;
  font-family: "Roboto";
  font-style: italic;
  line-height: normal;
  //font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
  color: #000000;
}

@include planing;

@include rendezvous;
@include responsive-rdv;




//  Debut navbar
@include navbar;
.column-direction{
  display: flex;
  flex-direction: row;
}

//Grid //

@for $i from 1 through $columns{
    .col-s-#{$i}{
    width:$i / $columns * 100%;}
    .col-s-#{$i}, .col-m-#{$i} , .col-l-#{$i}{@extend %col;}
}
//Medium Screen //

@media only screen and (min-width : $medium){
  .col-m-center{margin:0 auto ; float:none ;}
  @for $i from 1 through $columns{
  .col-m-#{$i}{ 
    width:$i / $columns * 100%;}

  }
  .container{
    width: 100%;
  }
  .column-direction{
    display: flex;
    flex-direction: column;
  }

  #planning td, #planning th{
    border-left: 2px solid $button_color;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .background_login{
    background-color:#E5E5E5;
    height: 100%;
  }

  #valider{
    background-color:#2F80ED;
    color:white;
    margin-top: 30px;
    font-size: 16px;
    width: 35%;
  }

  .form_register{
    background-color:white;
    margin-top: 45px;
    padding: 40px 100px;
    color:rgba(0, 0, 0, 0.3);
  }

  .sidebar_buttons{
    //color: #333333;
    text-align: center;
    margin-top: 50%;
  }

}

//Large Screen //
@media only screen and (min-width : $large){
  .col-l-center{margin:0 auto ; float:none ;}
  @for $i from 1 through $columns{
  .col-l-#{$i}{ 
     width:$i / $columns * 100%;}
  }

  .container{
    width: 100%;
  }

  .column-direction{
    display: flex;
    flex-direction: column;
  }

  #planning td, #planning th{
    border-left: 2px solid $button_color;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .background_login{
    background-color:#E5E5E5;
    height: 100%;
  }
  #connecter{
    background-color: $button_color;
    color:white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 35%;
  }

  #valider{
    background-color:#2F80ED;
    color:white;
    margin-top: 30px;
    font-size: 16px;
    width: 35%;
  }

  .form_register{
    background-color:white;
    margin-top: 45px;
    padding: 40px 100px;
    color:rgba(0, 0, 0, 0.3);
  }

  .sidebar_buttons{
    //color: #333333;
    text-align: center;
    margin-top: 50%;
  }
}










