@import "var";

@include boxs;


.row{
  margin:0 $gutter ;
  @include clearfix;
  @include flex; // ajout du Flex
  overflow: hidden; // retire le padding sur les bords de la grille

}

@include sidebar;

%col{
float:left;
position:relative;
min-height:1px;
padding:0 $gutter * 0.5;

//border:1px solid black ;

}
// Toutes les divs qui ont la classe contient 'col-'
div [class *= "col-"] {
  padding: 0 15px;
}

@include fonts;

@include footer;

.container{
  @include container;
}

//  Debut navbar
@include navbar;
.column-direction{
  display: flex;
  flex-direction: row;
}

//Grid //

@for $i from 1 through $columns{
    .col-s-#{$i}{
    width:$i / $columns * 100%;}
    .col-s-#{$i}, .col-m-#{$i} , .col-l-#{$i}{@extend %col;}
}
//Medium Screen //

@media only screen and (min-width : $medium){
  .col-m-center{margin:0 auto ; float:none ;}
  @for $i from 1 through $columns{
  .col-m-#{$i}{ 
    width:$i / $columns * 100%;}

  }
  .container{
    width: 100%;
  }
  .column-direction{
    display: flex;
    flex-direction: column;
  }

  #planning td, #planning th{
    border-left: 2px solid #009CDF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

}

//Large Screen //
@media only screen and (min-width : $large){
  .col-l-center{margin:0 auto ; float:none ;}
  @for $i from 1 through $columns{
  .col-l-#{$i}{ 
     width:$i / $columns * 100%;}
  }

  .container{
    width: 100%;
  }

  .column-direction{
    display: flex;
    flex-direction: column;
  }

  #planning td, #planning th{
    border-left: 2px solid #009CDF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
  }
}

@include container-fluid;


.center{
  margin: auto;
  text-align: center;
}

.title{
  border-bottom: 1px solid #009CDF;
  //width: 200px;
  font-family: "Roboto";
  font-style: italic;
  line-height: normal;
  //font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
  color: #000000;
}

@include planing;

@include rendezvous;
@include responsive-rdv;






