RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ router.php [L]

#Rediretion vers page d'erreurs perso
#ErrorDocument 400 /views/errors/400.view.php
#ErrorDocument 401 /views/errors/401.view.php
#ErrorDocument 402 /views/errors/402.view.php
#ErrorDocument 403 /views/errors/403.view.php
ErrorDocument 404 /views/errors/404.view.php
#ErrorDocument 405 /views/errors/405.view.php
#ErrorDocument 500 /views/errors/500.view.php
#ErrorDocument 501 /views/errors/501.view.php
#ErrorDocument 502 /views/errors/502.view.php
#ErrorDocument 503 /views/errors/503.view.php
#ErrorDocument 504 /views/errors/504.view.php
#ErrorDocument 505 /views/errors/505.view.php

